[Unit]
Description=Rolling Video Buffer Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pickle/src/pickle/caprid
Environment=PYTHONPATH=/home/pickle/src/pickle/caprid/src
ExecStart=/home/pickle/src/pickle/caprid/venv/bin/python -m processing.rolling_buffer
Restart=on-failure
User=pickle

[Install]
WantedBy=multi-user.target